* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
* {
  border: 1px solid red;
} */

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(235, 240, 248);
}

/* Header ================================ */
header {
  background: #0168b4;
  padding: 2rem 2rem 2rem;
}

#logo {
  color: white;
  width: 200px;
}

#modulos {
  color: white;
  position: fixed;
  width: 30px;
  right: 170px;
  top: 30px;
}

#sign-out {
  color: white;
  position: fixed;
  width: 30px;
  right: 70px;
  top: 30px;
}

p {
  color: white;
  display: inline;
  position: relative;
  left: 920px;
  margin: 10px;
}

/* MENU ================================ */
#menu {
    margin: 20px;
    padding: 1rem;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;

}

#menu li {
    display: inline;
    padding: 0.8rem;
}

#menu a {
    background: white;
}

#menu ul li a {
  padding: 10px 15px;
  display: inline-block;

  color: #707070;
  text-decoration: none;
  
  border-radius: 0.45rem 0.45rem 0.45rem 0.45rem;
  -moz-box-shadow: 2px 2px 3px #707070;
  box-shadow: 2px 2px 3px #707070;
}

/* CAMPO DE BUSCA  ================================ */

.container h1 {
   display: inline-block;
   margin-left: 45px;
}

#busca {
    width: 280px;
    height: 35px;
    padding: 8px;
    margin-left: 540px;
    font-style: italic;
    margin-inline-end: auto;
    max-height: 700px;
    border: 0;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* BOTÕES ================================ */
#lupa-busca{
    width: 15px;
    margin-right: 7px;
    position: flex;
    margin-bottom: -6.5px;
}

#btnBusca {
    color: white;
    background: #0168b4;

    width: 80px;
    height: 2.1rem;
    max-width: 500px;
    padding: 2px 4px;
    border: 0;
    box-sizing: content-box;
    border-radius: 0.7rem;
}

#nova-pergunta {
    width: 18px;
    margin-right: 7px;
    position: flex;
    margin-bottom: -6.5px;
}

#editar {
  width: 20px;
  margin-right: 7px;
  position: flex;
  margin-bottom: -6.5px;

}

#excluir {
  width: 15px;
    margin-right: 7px;
    position: flex;
    margin-bottom: -6.5px;


}

/* TABELA ================================ */
#tabela {
  width: 96%;
  margin: 30px;
  color: white;
}

table td {
  background: white;
  color: #707070;
  text-align: center;
  padding: 0.6rem 0.8rem;
  border-radius: 0.25rem;
}

#pergunta {
  position: absolute;
  margin-left: -870px;
  top: 287px;
  padding: 0;

  /* top: 345px;
  font-size: medium; */
}

#campo-pergunta {
  text-align: right;
}

table thead tr th:first-child {
  width: 800px;
  text-align: right;
  border-radius: 0.8rem 0 0 0.8rem;
}

/* table tbody td {
  background: white;

  padding: 1rem 2rem;
} */
table thead tr th:last-child {
  text-align: center;
  border-radius: 0 0.8rem 0.8rem 0;
}


/* table thead tr th{
  border: 0;
  margin :-10px;
}*/

table thead th {
  background: #0168b4;
  font-weight: normal;
  padding: 7px;
  /* border-radius: 0.5rem; */
  text-align: center;
}
